/* Header.css */
header {
  background-color: #333;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

li {
  display: inline-block;
  color: white;
}

/* Move the "No Account" to the right */
li:last-child {
  margin-left: auto;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 44px;
  transition: color 0.3s;
}

nav a.active {
  color: red;
}

nav a:hover {
  color: lightgray; /* Change color on hover */
}
